.grid-box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  padding: 16px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  opacity: 0;
  cursor: pointer;
  transform: translateY(20px);
  animation: tile-enter 0.5s ease-in-out forwards;
  animation-delay: var(--tile-delay, 0s);

  &:hover {
    background-color: var(--create-button-hover-bg);
    border-color: #b580ff;

    span {
      color: var(--text-color-primary);
    }
  }

  &.create-box {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    border-style: dashed;
    border-width: 2.5px;

    .create-robot-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      fill: var(--icon-accent);
      stroke: var(--icon-accent);
    }
  }
}

/* Animations */
@keyframes tile-enter {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
