* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

html,
body {
  height: 100%;
  overflow: hidden auto;
  background-color: var(--background-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  src: url("@/public/fonts/manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  /* Theme dependent */
  --background-color: #161e27;
  --background-neutral-hover: #1e2936;
  --background-neutral-overlay: #161e27e5;
  --background-neutral-surface-primary: #161e27;
  --background-neutral-surface-secondary: #2e3f52;
  --border-color: #6b7280;
  --border-primary: #4b6179;
  --button-hover: #9a52ff;
  --color-scheme: dark;
  --secondary-button-color: #5a12be;
  --text-color-primary: #f1f3f5;
  --text-color-secondary: #93a5b7;
  --text-link-color: #208bfe;
  --create-button-hover-bg: #48247a33;

  /* Theme independent */
  --background-blue-select: #2d0b5d;
  --background-blue-transparent: #208bfe4d;
  --border-selected: #6a00ff;
  --border-pressed: #b580ff;
  --border-transparent: #208bfe80;
  --divider-primary: #2e3f52;
  --icon-accent: #9a52ff;
  --icon-secondary: #93a4b7;
  --text-danger: #f52958;
  --text-disabled: #5b7795cc;
  --accent-success: #4ef880;
}

.light-theme {
  --background-color: #fff;
  --background-neutral-hover: #f1f3f5;
  --background-neutral-overlay: #faf7ffe5;
  --background-neutral-surface-secondary: #d4dbe2;
  --background-neutral-surface-primary: #faf7ff;
  --border-color: #d4dbe2;
  --border-primary: #a9b7c5;
  --button-hover: #5a12be;
  --color-scheme: light;
  --create-button-hover-bg: #9b6dda0d;
  --secondary-button-color: #9a52ff;
  --text-color-primary: #0b0f14;
  --text-color-secondary: #42576c;
  --text-link-color: #1083fe;
}
