.sort-control {
  display: flex;
  gap: 8px;
  align-items: center;

  .sort-icon {
    fill: var(--text-color-primary);
    stroke: var(--text-color-primary);
  }

  .sort-dropdown {
    position: relative;
    cursor: pointer;

    .dropdown {
      min-width: 80px;
      padding: 6px 32px 6px 12px;
      font-size: 14px;
      color: var(--text-color-secondary);
      appearance: none;
      cursor: pointer;
      outline: none;
      background-color: var(--background-color);
      border: none;
      border-radius: 6px;
    }

    .chevron {
      position: absolute;
      top: 50%;
      right: 8px;
      pointer-events: none;
      fill: var(--text-color-secondary);
      stroke: var(--text-color-secondary);
      transform: translateY(-50%);
    }

    &:hover {
      .dropdown {
        color: var(--text-color-primary);
        border-color: var(--text-color-primary);
      }

      .chevron {
        fill: var(--text-color-primary);
        stroke: var(--text-color-primary);
      }
    }
  }
}
