.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 553px;
  padding: 24px;
  background-color: var(--background-neutral-overlay);
}

.logo {
  max-width: 76px;
  max-height: 76px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 56px;
}

.buttons {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 8px;
  align-self: stretch;
}

.note {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.picker-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
}
