.create-container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  max-width: 600px;
  min-height: 100vh;
  padding-top: 100px;
  padding-left: 148px;
}

.stepper-container {
  margin-top: 8px;
  margin-bottom: 8px;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title-container {
  margin-bottom: 8px;
}

.details-container {
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.section-title {
  margin-top: 8px;
}

.icon-section {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.icon-input-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hint {
  margin-top: -2px;
  margin-bottom: 4px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
  padding-bottom: 24px;
}

.button-group {
  display: flex;
  gap: 8px;
}

.footer-container {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.support-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.support-link {
  font-family: Manrope, sans-serif;
  font-size: 14px;
  color: var(--text-link-color);
  text-decoration: none;
  cursor: pointer;
  transition: text-decoration 0.2s ease;

  &:hover {
    text-decoration: underline;
  }
}

.toggle-row {
  margin-top: 8px;
}
