.create-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  max-width: 40vw;
  min-height: 100vh;
  padding-top: 100px;
  padding-left: 148px;
  overflow: hidden;
}

.stepper-container {
  margin-top: 32px;
}
