.icon-button {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  background: none;
  background-color: transparent;
  border: none;
  border-radius: 8px;

  svg {
    fill: var(--text-color-secondary);
  }

  span {
    color: var(--text-color-secondary);
  }

  &:hover {
    background-color: var(--background-neutral-hover);

    svg {
      fill: var(--text-color-primary);
    }

    span {
      color: var(--text-color-primary);
    }
  }
}
