.icon-button {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  background: none;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s ease;

  svg {
    fill: var(--text-color-secondary);
    transition: all 0.3s ease;
  }

  span {
    color: var(--text-color-secondary) !important;
    transition: all 0.3s ease;
  }

  &:hover {
    background-color: var(--background-neutral-hover);

    svg {
      fill: var(--text-color-primary);
    }

    span {
      color: var(--text-color-primary) !important;
    }
  }
}
