.grid-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 24px;
  height: 200px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  opacity: 0;
  cursor: pointer;
  transform: translateY(20px);
  animation: tile-enter 0.5s ease-in-out forwards;
  animation-delay: var(--tile-delay, 0s);
  transition:
          border-color 160ms ease,
          background 160ms ease,
          box-shadow 160ms ease;

  &:hover {
    background-color: var(--create-button-hover-bg);
    border-color: var(--border-selected);
  }
}

.create-box {
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  border-style: dashed;
  border-width: 2.5px;

  .create-robot-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--icon-accent);
    stroke: var(--icon-accent);
  }
}

.agent-box {
  gap: 12px;
}

.agent-draft {
  border-color: var(--background-neutral-surface-secondary);
}

.agent-top {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  position: absolute;
  flex-direction: column;
  right: 20px;
}

.status-badge {
  color: var(--icon-accent);
  font-family: Manrope, sans-serif;
  font-size: 12px;
}

.agent-main {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.agent-icon {
  flex-shrink: 0;
}

.agent-actions {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.agent-action-buttons {
  display: flex;
  gap: 10px;
}

/* Animation */
@keyframes tile-enter {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.agent-meta {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
}

.draft-container {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  .draft-icon {
    fill: transparent;
    stroke: var(--button-hover);
  }
}

.delete-icon {
  stroke: var(--text-danger);
  fill: transparent;
  cursor: pointer;
  margin-left: 12px;
  align-self: center;
}
